In [37]:
import pandas as pd

In [21]:
cereal=pd.read_csv("cereal.csv")

In [22]:
cereal.head(3)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505

In [6]:
#check how many rows and columns are there
cereal.shape[0]

77

In [7]:
# what are the columns names
cereal.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [38]:
# what are the row label
cereal.target

AttributeError: 'DataFrame' object has no attribute 'target'

In [9]:
# random 3 samples
print(cereal.sample(3)) 
# Type of the data
type(cereal.sample(3))

                name mfr type  calories  protein  fat  sodium  fiber  carbo  \
25    Frosted Flakes   K    C       110        1    0     200    1.0   14.0
48  Nut&Honey Crunch   K    C       120        2    1     190    0.0   15.0
72           Triples   G    C       110        2    1     250    0.0   21.0

    sugars  potass  vitamins  shelf  weight  cups     rating
25      11      25        25      1     1.0  0.75  31.435973
48       9      40        25      2     1.0  0.67  29.924285
72       3      60        25      3     1.0  0.75  39.106174

pandas.core.frame.DataFrame

In [31]:
# Top 5 rows
cereal.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [11]:
# In the data you have observed are there any missing values(NaN)
cereal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [13]:
# Last 5 rows
cereal.tail(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [35]:
#row with index 1 and column with index1
#row with index 1 and columns with index1,2

In [15]:
# print datatype of each column
cereal.dtypes

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

In [16]:
# for each data type how many columns are there
cereal.dtypes.value_counts()

int64      8
float64    5
object     3
dtype: int64

In [17]:
# Choose any specific column ,check its data type
col=cereal.sodium
print(col.dtype)
print(type(col))

# check how many non null values are there
col.count()
# If it is numerical column
#caluculate min,max,mean,mode,sum,std,median
print(col.min()," ",col.max()," ",col.mean()," ",col.sum()," ",col.std()," ",col.median())
print()

#calculate 25%,50%,75% quartile values uisng np.quantile
col.describe()
#calculate the range

int64
<class 'pandas.core.series.Series'>
0   320   159.67532467532467   12295   83.83229524009317   180.0

count     77.000000
mean     159.675325
std       83.832295
min        0.000000
25%      130.000000
50%      180.000000
75%      210.000000
max      320.000000
Name: sodium, dtype: float64

In [18]:
# If it is a categorical column calculate
# the count
#cereal.dtypes=='object'
obj=cereal.mfr
# unique value count
print(obj.nunique())
# unique values
obj.unique()
# frequency for each unique value

7

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [19]:
# Using describe function observe the different measures for numerical and categorical columns
cereal.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [20]:
# Use the info function to get the detailed info of the dataframe
cereal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [21]:
x.count() #not null values

name      4
salary    4
year      4
dtype: int64

In [24]:
#Choose any specific column  check its data type
cereal['mfr'].dtype

dtype('O')

In [23]:
print(x.dtypes.unique()) # Datatypes

[dtype('O') dtype('int64')]

In [25]:
cereal['mfr'].describe()

count     77
unique     7
top        K
freq      23
Name: mfr, dtype: object

In [30]:
import numpy as np
#calculate 25%,50%,75% quartile values uisng np.quantile
print(np.quantile(cereal['protein'],.25))
print(np.quantile(cereal['protein'], .5))
print(np.quantile(cereal['protein'],.75))

2.0
3.0
3.0

In [24]:
# For each datatype how many columns are there
import numpy as np
x.dtypes.value_counts()

int64     2
object    1
dtype: int64

In [2]:
import pandas as pd
data=pd.read_csv("data.csv",sep="\t")

In [41]:
data = pd.read_csv("data.csv", header=None, sep=";" ,names= ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'] )
data.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America